<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>

	<style>
		li.motto {
		    border: 1px solid black;
		    margin: 0px;
		    padding: 10px;
		}
	</style>

</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">


<h2> Lifeline </h2>
<p id="demo"></p>
<ul style="list-style-type: none;">
<% if (alivemottos.length > 0 ){ %>
    <% alivemottos.forEach(function(r) { %>
        <div style=" padding-top: 15px;" >
		<a href="/liveline/<%= r.hash %>/"> <%- r.hash %> </a> <span style="float: right"> <%= r.did %> @<%= new Date(r.shill) %></span>

        <li class="motto">
		<%- r.extract %>
		<input class="votingbutton" id="+<%= r.did %>" type="button" value="upVote"/>
		<input class="votingbutton" id="-<%= r.did %>" type="button" value="downVote"/>
									<span class = "lifespan" data-motto-did = "<%= r.did %>" value="<%= r.shill %>" style="position: relative; bottom: 0px; float: right"> </span>
	</li>

	</div>
    <% }); %>   
<% }else{ %>

    <p><%- "No motto alive!" %> </p>
<% } %> 
</ul>

</div>
<div>
<% if (mottoArea ) { %>
	<%- mottoArea %>
<% } %>
</div>


<script>
	    var vbtn = document.getElementsByClassName('votingbutton');
	    for (var i=0; i < vbtn.length; i++){	
		vbtn[i].addEventListener('click', (e)=>sendVote(e), false);
	    }

	    var ls = document.getElementsByClassName('lifespan');
	    for (var j=0; j<ls.length; j++){

		var diff = ls[j].getAttribute("value") - (new Date()).getTime();
		var interval = diff > (24 * 3600000) ? 3600000 : (diff > 3600000 ? 60000 : 1000);
		ls[j].innerHTML = ">1 day";
		ls[j].parentElement.style.background= "rgba(0,255,0,1)";
		
//console.log("> %d: diff-%d, interval-%d", ls[j].getAttribute("data-motto-did"), diff, interval)
		setInterval( lifetimer, interval, ls[j]);

	    }


	function disableVoted(target){
			//disable voting button after click, and change color to RED
		    document.getElementById(target.id).setAttribute("disabled","disabled");
		    document.getElementById(target.id).style.background= target.id.toString().substr(0,1) =="+"?"rgba(0,255,0,0.6)" : "rgba(255,0,0,0.6)";
			//disable other voting button after click
		    var sign = target.id.toString().substr(0,1)=="+"? "-":"+";
		    document.getElementById(sign.concat(target.id.toString().substr(1))).setAttribute("disabled","disabled");
	}
	
	function sendVote(e){
		e = e || window.event;
		let target = e.target || e.srcElement;

		let v = target.id.toString();

		var http = new XMLHttpRequest();
		var url = "/vote";
		var params = {"v":v.substr(0,1), 'did': v.substr(1) };
		http.open("POST", url, true);
	
		//Send the proper header information along with the request
		http.setRequestHeader("Content-type", "text/html"); 
		
		http.onreadystatechange = function() {//Call a function when the state changes.
    			if(http.readyState == 4 && http.status == 200) {
				if ( http.responseText == "OK"+v){
					disableVoted(target);
				}else{
					alert("Couldn't record your Vote!");
				}
   			}
		}
		http.send(JSON.stringify(params));
	}

	function lifetimer(m){
		var d = m.getAttribute("value") - (new Date()).getTime();
		m.parentElement.style.background= d<=60000 ? "rgba(255,0,0,0.6)" : "rgba(255,255,255,0.6)";
		var days = Math.floor(d / (1000 * 60 * 60 * 24));
		var hours = Math.floor((d % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
		var minutes = Math.floor((d % (1000 * 60 * 60)) / (1000 * 60));
		var seconds = Math.floor((d % (1000 * 60)) / 1000);

		m.innerHTML = days + "d:" + hours + "h:" + minutes + "m:" + seconds + "s";

		// If the count down is over, write some text 
		if (d < 0) {
			//clearInterval(countdown);
			m.innerHTML = "EXPIRED";
			m.parentElement.style.background= "rgba(255,0,0,1)";
		}

		if (days >=1) {
			//clearInterval(countdown);
			m.innerHTML = ">1 day";
			m.parentElement.style.background= "rgba(0,255,0,1)";
		}
	}
	</script>
</body>
</html>
