


<% if (motto) { %>
        <div style=" padding-top: 15px;" >
		<a href="/liveline/<%= motto.hash %>/"> <%- motto.hash %> </a> <span style="float: right"> <%= motto.did %> @<%= new Date(motto.shill) %></span>

		<li class="motto">
			<%- motto.extract %>
			<input class="votingbutton" id="+<%= motto.did %>" type="button" value="upVote"/>
			<input class="votingbutton" id="-<%= motto.did %>" type="button" value="downVote"/>
			<span class = "lifespan" value="<%= motto.shill %>" style="position: relative; bottom: 0px; float: right"> </span>
		</li>
	</div>
<% } %>

